node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cache

.terraform.tfstate.lock.info
*.tfstate
.pytest.cache
setup/terraform/.terraform/providers/*
node_modules
*.tfstate.backup
.terraform/*
.terraform


.env
./minikube-linux-amd64
./python-virtual-environments/*
./myenv/*
aws/*
./kubectl.sha256
./aws/*
./awscliv2.zip
./AgentDependencies.tar.gz